<form [formGroup]="floorForm" (ngSubmit)="onSubmit()" class="example-form">
    <mat-form-field class="example-full-width">
        <mat-label>Slot Price</mat-label>
        <input matInput formControlName="slotPrice" type="number" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Slot Count</mat-label>
        <input matInput formControlName="slotCount" type="number" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Physical Floor</mat-label>
        <input matInput formControlName="physicalFloor" type="number" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Floor Code</mat-label>
        <input matInput formControlName="floorCode" type="text" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Vehicle Type</mat-label>
        <mat-select formControlName="vehicleType">
            <mat-option *ngFor="let type of vehicleTypes" [value]="type">{{ type }}</mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="floorForm.invalid">Submit</button>
</form> 